<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.mapper.WhaleSpeciesMapper">
    <select id="getWhaleByName" resultType="com.library.common.domain.entity.WhaleSpecies">
        SELECT * FROM whale_species WHERE name = #{name}
    </select>


    <resultMap id="AnimalMap" type="com.library.common.domain.entity.Animal">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="animalClass" column="fish_class"/>
        <result property="order" column="order"/>
        <result property="family" column="family"/>
        <result property="description" column="description"/>
        <result property="imageUrl" column="image_url"/>
    </resultMap>
    <select id="findByCriteria" resultMap="AnimalMap">
        SELECT id, name, fishClass, `order`, family, description, image_url
        FROM whale_species
        <where>
            <if test="animalClass != null and animalClass != ''">
                AND fishClass = #{animalClass}
            </if>
            <if test="order != null and order != ''">
                AND `order` = #{order}
            </if>
            <if test="family != null and family != ''">
                AND family = #{family}
            </if>
        </where>
    </select>

    <insert id="insertWhale" parameterType="com.library.common.domain.entity.WhaleSpecies" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO whale_species (name, fishClass, `order`, family, genus, description, image_url)
        VALUES (#{name}, #{fishClass}, #{order}, #{family}, #{genus}, #{description}, #{imageUrl})
    </insert>

    <update id="updateWhale" parameterType="com.library.common.domain.entity.WhaleSpecies">
        UPDATE whale_species
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="fishClass != null">fishClass = #{fishClass},</if>
            <if test="order != null">`order` = #{order},</if>
            <if test="family != null">family = #{family},</if>
            <if test="genus != null">genus = #{genus},</if>
            <if test="description != null">description = #{description},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteWhale">
        DELETE FROM whale_species WHERE id = #{id}
    </delete>

    <!-- 管理后台分页查询鲸类 -->
    <select id="selectPage" resultType="com.library.common.domain.entity.WhaleSpecies">
        SELECT * FROM whale_species
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 查询全部鲸类 -->
    <select id="selectAll" resultType="com.library.common.domain.entity.WhaleSpecies">
        SELECT * FROM whale_species
        ORDER BY id DESC
    </select>
</mapper>
